@import url('https://fonts.googleapis.com/css?family=Sanchez|Source+Serif+Pro|Suez+One');

.App {
	color: #333;
	font-family: 'Source Serif Pro', serif;
  	font-size: 16px;
	line-height: 1.35;
}

@media (min-width: 768px){
	.App{
		line-height: 1.45;
	}
}
