.iFrameContainer {
    margin: 0 auto 2vh;
    height: 100vh;
    max-height: 32vh;
    width: 85%;
}

@media (min-width: 767px) {
	.iFrameContainer {
		max-height: 26vh;
	}
}

@media (min-width: 1024px) {
	.iFrameContainer {
		display: inline-flex;
	    flex-direction: column;
	    margin: 0 1em 2vh 22vh;
	    max-height: 28vh;
	    width: 50%;
	}
}

.iFrameContainer iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1023px) {
    .iFrameContainer {
        margin-top: 4vh;
    }
}
